
.list-item {
    display: flex;
    border: 2px solid black;
    width: 600px;
    border-radius: 8px;
    margin: 2px;
    background-color:  rgb(190, 255, 170);
    color: black;
}
.done-class {
    display: flex;
    border: 2px solid black;
    width: 600px;
    border-radius: 8px;
    margin: 2px;
    background-color:  rgba(190, 255, 170, 0.329);
}
.done-class > p {
    text-decoration: line-through;
    color: white;
}
.done-class > .btn-done::before{
    content: 'Un-';
}
.para {
    width: 600px;
    word-break: break-word;
    margin-left: 5px;
}
.check-box {
    align-self: center;
    padding: 10px;
    margin: 10px;
}
.check-box:hover{
    cursor: pointer;
}

.btn-done {
    color: black;
    background-color: #39bd39;
    border: black;
    font-weight: bold;
    border-radius: 4px;
    margin: 1px;
}

.btn-x {
    color: black;
    background-color: #39bd39;
    border-radius: 4px;
    margin: 1px;
}
.btn-done:hover, .btn-x:hover {
    background: #189c18;
    color: white;
    cursor: pointer;
}