html {
    background-color: #303030;
}

.App {
    display: flex;
    flex-flow: column;
}
/* ____________________________________________________________________*/
.text-input {
    background-color:#189c18;
    padding-left: 100px; 
}
.text-box {
    margin-top: 3px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    width: 600px;
    height: 50px;
    font-size: 14px;
    background-color: #fffffff1;
}
::placeholder {
    color: #bbb8b8;
}

.btn-delete-completed{
    color: #ffffff;
    background-color: #303030;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 100px;
    height: 55px;
    cursor: pointer;
    margin: 2px;
}

.btn-delete-selected{
    color: #ffffff;
    background-color: #303030;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 100px;
    height: 55px;
    cursor: pointer;
    margin: 2px;
}
.btn-add:hover, .btn-select-all:hover,
 .btn-delete-selected:hover, .btn-delete-completed:hover {
    color: #56ff3b;
    background-color: #202020;
}
.btn-add {
    color: #ffffff;
    background-color: #303030;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 100px;
    height: 55px;
    cursor: pointer;
    margin: 2px;
}
.btn-select-all {
    color: #ffffff;
    background-color: #303030;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 100px;
    height: 55px;
    cursor: pointer;
}

/* ____________________________________________________________________*/

.list-container {
    flex-flow: column wrap;
    background: #303030;
    padding-left: 100px;
}


/* ____________________________________________________________________*/
